<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>-->
<ion-content>
    <!--<ion-list-header color="light">Vertical Bar Chart</ion-list-header>-->
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Today history for</ion-card-subtitle>
            <ion-card-title>Temperature</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #tempChart></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Today history for</ion-card-subtitle>
            <ion-card-title>Floor</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #floorChart></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>